body {
  padding: 50px;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #FF0000;
}

.strong {
  font-weight: bold;
  color: #00CC00;
  text-shadow: 1px 1px #ccc;
  margin: 0 0 5px 0;
}

.tweet img {
  border-radius: 4px;
  float:left;
}

.tweet {
  display:inline-block;
  border: 1px solid #ddd;
  border-radius:16px;
  padding: 20px;
  margin: 20px;
  width: 200px;
}

.info {
  float:left;
  margin: 0 20px;
}
